<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: titles"></div>
<nav th:replace="fragments :: nav"></nav>

<p th:unless="${books} and ${books.size()}"><em>No books to display.</em></p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <tr th:each="book : ${books.keySet()}">
        <td th:text="${book.getBookTitle()}"></td>
        <td th:text="${book.getAuthor()}"></td>
    </tr>
</table>

</body>
</html>