<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: titles"></div>
<nav th:replace="fragments :: nav"></nav>
<table class="table" th:object="${bookshelf}">
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <tr th:each="book : *{books}">
        <td th:text="${book.getKey()}"></td>
        <td th:text="${book.getValue()}"></td>
    </tr>


</table>

</body>
</html>