<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: titles"></div>
<nav th:replace="fragments :: nav"></nav>

<p class="text-center" th:unless="${books} and ${books.size()}"><em>No books to remove.</em></p>

<form method="post" style="max-width:400px;">

    <div th:each="book : ${books.entrySet()}" class="checkbox">
        <input type="checkbox" name="bookIds" th:value="${book.getValue().bookId}"
               th:id="${book.getValue().bookId}" />
        <label th:for="${book.getValue().bookId}"
               th:text="|${book.getValue().bookTitle}  by  ${book.getValue().author}|" />
    </div>

    <input type="submit" class="btn btn-danger" value="Remove Books" />

</form>

</body>
</html>