<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div th:fragment="titles">
    <h1 class="text-center">Bookshelf</h1>
    <h1 class="text-center">
        <small th:text="${title}"></small>
    </h1>
</div>
<nav th:fragment="nav" class="text-center">
    <a href="/bookshelf">Home</a> | |
    <a href="/bookshelf/add">Add a Book</a> | |
    <a href="/bookshelf/remove">Remove a Book</a> | |
    <a href="/bookshelf/authors">Authors</a> | |
    <a href="/bookshelf/titles">Titles</a> | |
    <a href="/bookshelf/about">About</a>
</nav>

</body>
</html>